.body {
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  flex-direction: column;
}
.header__navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.navbar__search-input {
  padding: 8px;
  width: 350px;
  font-size: 20px;
  border: 1px solid rgb(194, 194, 194);
  border-right: none;
  border-radius: 5px, 0, 0, 5px;
}
.navbar__search-button {
  width: 100px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 0, 5px, 5px, 0;
  font-size: 15px;
}
.navbar__search-button,
.navbar__search-input {
  outline: none;
}
.navbar__search-button:hover {
  background-color: rgb(165, 165, 165);
  cursor: pointer;
  color: #fff;
}
.navbar__search-button:active {
  background-color: rgb(128, 128, 128);
}
.loading-gif {
  width: 100px;
  height: 100px;
  display: none;
}
.main {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tracks-table {
  margin-top: 30px;
  min-width: 700px;
  border-collapse: collapse;
}
.tracks-table thead {
  background-color: rgb(173, 173, 173);
  border-collapse: collapse;
}
.tracks-table > thead th {
  height: 30px;
  min-width: 100px;
}
.tracks-table tbody {
  border: 0.5px solid rgb(182, 182, 182);
}
.tracks-table > tbody tr {
  height: 100px;
}
.tracks-table > tbody tr:nth-last-child(even) {
  background-color: rgb(201, 201, 201);
}
